/* fonts */
  @font-face {
    font-family: "Monobloc-Variable";
    src: url("monoblocvariable.ttf") format("truetype-variations");
  }

  @font-face {
    font-family: "winder-display";
    src: url("flowflowGX.ttf") format("truetype-variations");
  }

  html {
    cursor: url("winder/assets/cursor.png"), auto !important;
  }

  :root {
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 400;
    -webkit-font-smoothing: antialiased;


    --wght: 100;
    --size: 150px;
    --LHGT: 1;
  
    --color: rgb(32, 32, 32);
    --background: rgb(255, 240, 34);
  }

  body {
    background: rgb(255, 255, 255);
    color: rgb(249, 35, 35);
    font-size: 1.25rem;
    line-height: 1.45rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
  }

  section {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  h1 {
    font-family: "winder-display";
    font-variation-settings: "wght" 100;
    font-size: 9rem;
    line-height: 8.5rem;
    color:rgb(32, 32, 32);
    text-align: center;
  }

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

  button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: white;
    border:rgb(249, 35, 35) solid 1px;
  }

  button:hover {
    background:rgb(32, 32, 32);
  }

  button:focus {
    background:rgb(249, 35, 35);
  }

  .buttonholder {
    margin: 1.5rem; 
    display:inline-block;
  }


  .winder {
      font-family: "winder-display";
      font-variation-settings: "wght" 100;
      font-size: 5.5rem;
      line-height: 6.5rem;
  }

  .bottombox {
    border-top:rgb(249, 35, 35) solid 1px;
    padding: 0px 10px 30px 10px;
    bottom:0;
    width:100%;
    height: 5.75rem;
    text-align: center;
    position: absolute;
  }

  .topbox {
    border-bottom:rgb(249, 35, 35) solid 1px;
    padding: 35px 10px 0px 10px;
    width:100%;
    text-align: center;
    height: 5.5rem;
    position: absolute;
  }

  .topbox.up {
    position:none;
  }

  .grid {
    height:90vh; 

    display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 50% 50%; 
  }

  .grid2 {
    height:90vh; 

    display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 50% 50%; 
  }

  .typetest {
    color: var(--color);
    font-size: var(--size);
    line-height: var(--LHGT);
    font-variation-settings: 'wght' var(--wght);
  }

  .framing {
      border:rgb(249, 35, 35) solid 1px;
      height: 93%;
      margin: 1.5rem;
      position: relative;
      overflow: hidden;
  }

  .justify {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    padding: 10px;
  }

  .navbox {
    align-self: center;
    text-align: center;
    padding: 7px 7px 2px 7px;
    border:rgb(249, 35, 35) solid 1px;
    font-size: 1.5rem;
    width: 8rem;
  }

  .home {
      background: white;
  }

  .south {
      background: rgb(32, 32, 32);
  }

  .north {
    background: rgb(255, 240, 34);
}

.east {
  background: rgb(74, 156, 92);
}


.west {
  background: rgb(120, 176, 240);
}

.sidewest {
  top:50%; 
  left: 0; 
  position:absolute; 
  transform: translate(-10%, -100%) rotate(-90deg);

}

.sideeast{
  top:50%; 
  right: 0; 
  position:absolute; 
  transform: translate(5%, -100%) rotate(90deg);
}


#fullcharset {
  font-variation-settings: 'wght' var(--wght);
  -webkit-font-smoothing: antialiased;
}



.moving {
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    z-index: 10;
    transition: 800ms ease-in-out;
  }

  .modal.north{
    transform: translateY(-100vh);
  }

  .modal.south{
    transform: translateY(100vh);
  }

  .modal.east {
    transform: translateX(100vw);
  }

  .modal.west {
    transform: translateX(-100vw);
  }  

  .modal.active {
    transform:translate(0,0);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background:rgba(0, 0, 0, 0.25)
  }


a:hover{
    background:rgb(249, 35, 35);
    color:rgb(255, 255, 255);
    cursor: pointer;
}


ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.min{
	text-align: right;
}
.range-name::after{
	content: ': ';
}

input.axis-range{
	width: 200px;
	margin: 0 20px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: white;
    color:rgb(249, 35, 35);
    align-self: center;
    text-align: center;
    padding: 7px 7px 2px 7px;
    border:rgb(249, 35, 35) solid 1px;
    font-size: 1.5rem;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

::selection {
    background:rgb(249, 35, 35);
    color:rgb(255, 255, 255);
  }
