/* fonts */
  @font-face {
    font-family: "Monobloc-Variable";
    src: url("monoblocvariable.ttf") format("truetype-variations");
  }

  @font-face {
    font-family: "winder-display";
    src: url("flowflowGX.ttf") format("truetype-variations");
  }

  html {
    cursor: url(images/cursor.svg), auto !important;
  }

  :root {
    font-family: "Monobloc-Variable";
    font-variation-settings: "wght" 400;
    -webkit-font-smoothing: antialiased;


    --wght: 100;
    /* --FTSZ: 150px;
    --LHGT: 1; */
  
    --color: rgb(32, 32, 32);
    --background: rgb(255, 240, 34);
  }

  body {
    background: rgb(255, 255, 255);
    color: rgb(249, 35, 35);
    font-size: 1.25rem;
    line-height: 1.45rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
  }

  section {
      height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      overflow: hidden;
  }

  h1 {
    font-family: "winder-display";
    font-variation-settings: 'wght' var(--wght);
    font-size: 150px;
    line-height: 1.0;
    color:rgb(32, 32, 32);
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    font-family: "winder-display";
    font-variation-settings: 'wght' var(--wght);
    font-size: 150px;
    line-height: 1.0;
    color:rgb(32, 32, 32);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  h3 {
    font-family: "winder-display";
    font-variation-settings: 'wght' var(--wght);
    font-size: 300px;
    line-height: 1.0;
    color:rgb(32, 32, 32);
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    transition: font-variation-settings 0.3s ease;
    animation-name: winder-animation;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes winder-animation {
    from {
      font-variation-settings: "wght" 100;
    }
    to {
      font-variation-settings: "wght" 900;
    }
  }
  


  span {
    font-variation-settings: 'wght' var(--wght);
  }

  marquee {
    font-family: "winder-display";
    font-variation-settings: 'wght' var(--wght);
    font-size: 150px;
    height: 100%;
    line-height: 1.0;

  }

  img {
    position: absolute;
    height:5vw;
    transition: transform 800ms ease-in-out;
  }

  img:hover {
    transform: scale(1.75) rotate(360deg);
  }


  [contenteditable]:focus {
    outline: 0px solid transparent;
  }

  button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: white;
    border:rgb(249, 35, 35) solid 1px;
  }

  button:hover {
    background:rgb(32, 32, 32);
  }

  button:focus {
    background:rgb(249, 35, 35);
  }

  .buttonholder {
    margin: 1.5rem; 
    display:inline-block;
  }


  .winder {
      font-family: "winder-display";
      font-variation-settings: "wght" 100;
      font-size: 5.5rem;
      line-height: 6.5rem;
  }

  .bottombox {
    border-top:rgb(249, 35, 35) solid 1px;
    padding: 0px 10px 30px 10px;
    bottom:0;
    width:100%;
    height: 5.75rem;
    text-align: center;
    position: absolute;
  }

  .topbox {
    border-bottom:rgb(249, 35, 35) solid 1px;
    padding: 35px 10px 0px 10px;
    width:100%;
    text-align: center;
    height: 5.5rem;
    position: absolute;
  }

  .grid {
    height:90vh; 

    display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 50% 50%; 
  }

  .grid2 {
    height: 93vh;
    display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 25% 25% 25% 25%; 
  }

  .typetest {
    font-variation-settings: 'wght' var(--wght);
    margin:2rem;
    height: calc(100% - 9rem);
    overflow-y: scroll;
  }

  .framing {
      border:rgb(249, 35, 35) solid 1px;
      height: 93%;
      margin: 1.5rem;
      position: relative;
      overflow: hidden;
  }

  .justify {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    padding: 10px;
  }

  .navbox {
    align-self: center;
    text-align: center;
    padding: 7px 7px 2px 7px;
    border:rgb(249, 35, 35) solid 1px;
    font-size: 1.5rem;
    width: 8rem;
  }
  

  .home {
      background: white;
  }

  .south {
      background: rgb(32, 32, 32);
  }

  .north {
    background: rgb(255, 240, 34);
}

.east {
  background: rgb(97, 170, 97);
}


.west {
  background: rgb(120, 176, 240);
}

.sidewest {
  top:50%; 
  left: -2%; 
  position:absolute; 
  transform: translate(-10%, -100%) rotate(-90deg);

}

.sidewest2 {
  top:50%; 
  left: 0; 
  position:absolute; 
  transform: translate(-25%, -100%) rotate(-90deg);

}

.sideeast{
  top:50%; 
  right: -2.5%; 
  position:absolute; 
  transform: translate(5%, -100%) rotate(90deg);
}
.sideeast2{
  top:50%; 
  right: 0; 
  position:absolute; 
  transform: translate(25%, -100%) rotate(90deg);
}


#fullcharset {
  font-variation-settings: 'wght' var(--wght);
  -webkit-font-smoothing: antialiased;
  transition: font-variation-settings 400ms ease-in-out;
}



.moving {
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    z-index: 10;
    transition: 800ms ease-in-out;
  }

  .modal.north{
    transform: translateY(-100vh);
  }

  .modal.south{
    transform: translateY(100vh);
  }

  .modal.east {
    transform: translateX(100vw);
  }

  .modal.west {
    transform: translateX(-100vw);
  }  

  .modal.active {
    transform:translate(0,0);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background:rgba(0, 0, 0, 0.25)
  }

  a {
    color:rgb(249, 35, 35);
  }

a:hover{
    background:rgb(249, 35, 35);
    color:rgb(255, 255, 255);
    cursor: url(images/cursor.svg), auto !important;
}


ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {padding-left:2rem;
  padding-right:2rem;}

.inarow {
  display: flex;
}


#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.min{
	text-align: right;
}
.range-name::after{
	content: ': ';
}

input.axis-range{
	width: 200px;
	margin: 0 20px;
}

.draggable {
  cursor: move;
  height: 10rem;
}
.dragcontent {
  transform: translate(0, -8rem);
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
   visibility: hidden;
    background-color: rgba(255, 255, 255, 0);
    color:rgba(249, 35, 35, 0);
    align-self: center;
    text-align: center;
    padding: 7px 7px 2px 7px;
    border:rgba(249, 35, 35, 0) solid 1px;
    font-size: 1.5rem;
    transition: 750ms ease-in-out;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    background-color: white;
    color:rgb(249, 35, 35);
    border:rgb(249, 35, 35) solid 1px;
  }

  .tooltip.bottom .tooltiptext {
    bottom: 60%;
  }


::selection {
    background:rgb(249, 35, 35);
    color:rgb(255, 255, 255);
  }


  input[type="range"] {
    -webkit-appearance: none;
   }
   
   input[type="range"]:focus {
    outline: none;
   }

   input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(249, 35, 35);
    height: 5px;
    border-radius: 2.5px;
   }
   
   input[type="range"]::-moz-range-track {
    background: rgb(249, 35, 35);
    height: 5px;
    border-radius: 2.5px;
   }

   input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: rgb(249, 35, 35);
    border: white solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: rgb(249, 35, 35);
    border: white solid 1px;
    margin-top: -5px;
    border-radius: 50%;
   }